<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <!-- ### Section handler ###-->
   <!-- Every section used in this file must have a registered section handler -->
   <configSections>
      <section name="KukaRoboter.InstallerStrategy" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
   </configSections>

   <location allowOverride="true" inheritInChildApplications="true">
      <KukaRoboter.InstallerStrategy type="KukaRoboter.DeploymentPackage.Installer.InstallerStrategyConfiguration, KukaRoboter.DeploymentPackage">
         <InstallerStrategy DeleteSurplusFiles="true" IgnoreExternalFiles="true">
            <IgnoreFilter>
               <AddFilter Path="KRC:\R1\Folgen\*.*" />
               <AddFilter Path="KRC:\R1\Makros\*.*" />
               <AddFilter Path="KRC:\R1\UPs\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\BM_Buckeln\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\BU_Buersten\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\BZ_Bolzenschweissen\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\CZ_Clinchen\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\DS_Dockingsystem\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\FD_Flowdrill\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\G_Handling\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\KL_Kleben\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\LM_Vision\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\LR_Laserreinigung\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\MS_MIG-MAG\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\NK_Nahtkontrolle\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\NZ_Nieten\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\OE_Objekterkennung\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\PGR_Prozessgeraete\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\POT_Produktion-ohne-Teil\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\PR_Praeger\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\RE_Wischkopf\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\RW_Reibelementschweissen\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\RZ_Schweisszange\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\SFR_SafeRobot\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\SK_Schweisssteuerung\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\SM_Stanzen\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\SR_Schrauben\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\STP_Stosspunkten\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\SZ_Schweisszangen\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\TR_Traceaufzeichnung\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\VA_Virtuelle-Achsen\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\VM_VectorMove\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\Volkswagen_Fehlerauswertung\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\Applikation\Volkswagen_RIP\*.*" />
               <AddFilter Path="KRC:\R1\VW_User\vw_changelog.txt" />
               <AddFilter Path="KRC:\R1\VW_User\vw_tracecollector.dat" />
               <AddFilter Path="KRC:\R1\VW_User\vw_tracecollector.src" />
               <AddFilter Path="KRC:\R1\VW_User\vw_user.dat" />
               <AddFilter Path="KRC:\R1\VW_User\vw_user.src" />
               <AddFilter Path="KRC:\R1\VW_User\vw_usr_r.dat" />
               <AddFilter Path="KRC:\R1\VW_User\vw_usr_r.src" />
               <AddFilter Path="KRC:\R1\VW_User\vw_usr_s.dat" />
               <AddFilter Path="KRC:\R1\VW_User\vw_usr_s.src" />
               <AddFilter Path="KRC:\R1\VW_User\vw_vmlog.dat" />
               <AddFilter Path="KRC:\R1\VW_User\vw_vmlog.src" />
               <AddFilter Path="KRC:\R1\VW_User\vw_wqlimit.dat" />
               <AddFilter Path="KRC:\R1\VW_User\vw_wqlimit.src" />
               <AddFilter Path="KRC:\R1\System\$config.dat" />
               <AddFilter Path="KRC:\R1\System\bas.src" />
               <AddFilter Path="KRC:\R1\System\ibgn.src" />
               <AddFilter Path="KRC:\R1\System\procparam.dat" />
               <AddFilter Path="KRC:\R1\System\select.dat" />
               <AddFilter Path="KRC:\R1\System\select.src" />
               <AddFilter Path="KRC:\R1\System\sps.sub" />
               <AddFilter Path="KRC:\R1\System\Sps1.sub" />
               <AddFilter Path="KRC:\R1\System\Sps2.sub" />
               <AddFilter Path="KRC:\R1\System\Sps3.sub" />
               <AddFilter Path="KRC:\R1\System\Sps4.sub" />
               <AddFilter Path="KRC:\R1\System\Sps5.sub" />
               <AddFilter Path="KRC:\R1\System\vw.src" />
               <AddFilter Path="KRC:\R1\System\VW_Safety.src" />
               <AddFilter Path="KRC:\R1\System\weav_def.src" />
            </IgnoreFilter>
         </InstallerStrategy>
      </KukaRoboter.InstallerStrategy>
   </location>
</configuration>
