<?xml version="1.0" encoding="utf-8"?>
<GripperConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <GripperList>
    <Gripper Critical="false" Number="1">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <StringConditionCollection>
          <StringCondition Text="KKP11 ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <StringConditionCollection>
          <StringCondition Text="KKP11 AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="2">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <StringConditionCollection>
          <StringCondition Text="KKP13 ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <StringConditionCollection>
          <StringCondition Text="KKP13 AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="3">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <StringConditionCollection>
          <StringCondition Text="KKP14 ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <StringConditionCollection>
          <StringCondition Text="KKP14 AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="4">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="5">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="6">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="7">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <StringConditionCollection>
          <StringCondition Text="Sauger KKP12 ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <StringConditionCollection>
          <StringCondition Text="Sauger KKP12 AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="8">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="9">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="10">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="11">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="12">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="13">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="14">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="15">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="16">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="17">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="18">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="19">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="20">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="21">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="22">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="23">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="24">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="25">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="26">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="27">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <StringConditionCollection>
          <StringCondition Text="Dockingbahnhof 2 ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <StringConditionCollection>
          <StringCondition Text="Dockingbahnhof 2 AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="28">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <StringConditionCollection>
          <StringCondition Text="Dockingbahnhof 1 ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <StringConditionCollection>
          <StringCondition Text="Dockingbahnhof 1 AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="29">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <StringConditionCollection>
          <StringCondition Text="Dockingkupplung ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <StringConditionCollection>
          <StringCondition Text="Dockingkupplung AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="30">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <StringConditionCollection>
          <StringCondition Text="ProfiNet Teilnehmer 1 ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <StringConditionCollection>
          <StringCondition Text="ProfiNet Teilnehmer 1 AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="31">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
    <Gripper Critical="false" Number="32">
      <CloseCondition Content="EIN" />
      <OpenCondition Content="EIN" />
      <ClosingTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_ZU">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </ClosingTextConditions>
      <OpeningTextConditions>
        <ErrorText>FAILED TO COMPUTE TEXT</ErrorText>
        <StringConditionCollection>
          <StringCondition Text="ZANGE_AUF">
            <Condition Content="EIN" />
          </StringCondition>
        </StringConditionCollection>
      </OpeningTextConditions>
    </Gripper>
  </GripperList>
  <HashCode>134318515</HashCode>
</GripperConfiguration>