<?xml version="1.0"?>
<configuration>
   <TemplateInfo Version="8.3.17"/>
   <!-- Messages configuration: User defined rules start with MergeOrder="100" -->
   <KukaRoboter.SmartHMI.MessagesConfiguration type="KukaRoboter.SmartHMI.LegacySupport.Messages.MessageSet, KukaRoboter.SmartHMI.LegacySupport">
      <!-- Rule: Ignore some specific kernel system messages in "Automatic" and "Automatic Extern"-->
      <MessageSet Name="IgnoreSomeKernelMessages" MergeOrder="100">
         <Rule Module="CrossMeld" Number="\b(98|1123|2821|3087|470|1053|1155|1442|2920|3131|3132|3110|3113|3114|3115|3171|3172|3173|3174|3175|3176|3183|3184|3185|3188|3189|3190|3214|3216|3217|3218|3220|3221|3223|3232|3233|3235)\b" />
         <IgnoreInAutomatic />
      </MessageSet>
      <!-- Rule: Ignore some specific kernel system messages in "T1"-->
      <MessageSet Name="IgnoreSomeMessagesInT1" MergeOrder="101">
         <Rule Module="CrossMeld" Number="1053"/>
         <Ignore ModeOp="T1"/>
      </MessageSet>
   </KukaRoboter.SmartHMI.MessagesConfiguration>
   <KukaRoboter.SmartHMI.MessagesSettings type="KukaRoboter.SmartHMI.LegacySupport.Messages.Settings, KukaRoboter.SmartHMI.LegacySupport" >
      <Settings DoAutoConfirm="false" AutoConfirmTime="23:50" MaxInfoMessages="100000"/>
   </KukaRoboter.SmartHMI.MessagesSettings>
   <!-- user defined menues. Use only SystemNames for MenuFolder -->
   <KukaRoboter.SmartHMI.Menu type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuRootImpl, SmartHMI">
    <!-- Main Menu -->
    <MenuRoot SystemName="MainMenu">
      <MenuFolder SystemName="Monitor">
        <MenuFolder SystemName="Variable">
          <MenuFolder SystemName="ConfigMon">
            <!-- MergeOrder 100..199 -->
            <MenuFolder DisplayName="%Techpakete" MergeOrder="100">
              <MenuItem DisplayName="%Ausgabestand(1)" MergeOrder="1">
                <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                  <Argument Name="PlugInName">CONFIGMON</Argument>
                  <Argument Name="Arguments">20;1</Argument>
                </CommandCall>
              </MenuItem>
              <MenuItem DisplayName="%Ausgabestand(2)" MergeOrder="2">
                <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                  <Argument Name="PlugInName">CONFIGMON</Argument>
                  <Argument Name="Arguments">20;2</Argument>
                </CommandCall>
              </MenuItem>
            </MenuFolder>
              <MenuFolder DisplayName="%Slave Adressierung" MergeOrder="101">
                <MenuItem DisplayName="%Slave Adressierung(1)" MergeOrder="1">
                  <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                    <Argument Name="PlugInName">CONFIGMON</Argument>
                    <Argument Name="Arguments">20;3</Argument>
                  </CommandCall>
                </MenuItem>
                <MenuItem DisplayName="%Slave Adressierung(2)" MergeOrder="2">
                  <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                    <Argument Name="PlugInName">CONFIGMON</Argument>
                    <Argument Name="Arguments">20;4</Argument>
                  </CommandCall>
                </MenuItem>
              </MenuFolder>
            <MenuFolder DisplayName="%WPS" MergeOrder="102" Right="UM15">
              <MenuItem DisplayName="%VM-Ausgleich" MergeOrder="1">
                <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                  <Argument Name="PlugInName">CONFIGMON</Argument>
                  <Argument Name="Arguments">20;5</Argument>
                </CommandCall>
              </MenuItem>
              <MenuItem DisplayName="%Roboter Schrittkette" MergeOrder="2">
                <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                  <Argument Name="PlugInName">CONFIGMON</Argument>
                  <Argument Name="Arguments">20;6</Argument>
                </CommandCall>
              </MenuItem>
              <MenuItem DisplayName="%EZ/SP/KE Daten" MergeOrder="3">
                <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                  <Argument Name="PlugInName">CONFIGMON</Argument>
                  <Argument Name="Arguments">20;7</Argument>
                </CommandCall>
              </MenuItem>
              <MenuItem DisplayName="%EZ/SP/KE Standmenge" MergeOrder="4">
                <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                  <Argument Name="PlugInName">CONFIGMON</Argument>
                  <Argument Name="Arguments">20;8</Argument>
                </CommandCall>
              </MenuItem>
              <MenuItem DisplayName="%EZ/SP/KE Fraesen" MergeOrder="5">
                <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                  <Argument Name="PlugInName">CONFIGMON</Argument>
                  <Argument Name="Arguments">20;9</Argument>
                </CommandCall>
              </MenuItem>
            </MenuFolder>
            <MenuFolder DisplayName="%CZ Servo" MergeOrder="103" Right="UM15">
              <MenuItem DisplayName="%CZ Daten" MergeOrder="1">
                <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                  <Argument Name="PlugInName">CONFIGMON</Argument>
                  <Argument Name="Arguments">20;10</Argument>
                </CommandCall>
              </MenuItem>
            </MenuFolder>
            <MenuFolder DisplayName="%NZ Servo" MergeOrder="104" Right="UM15">
              <MenuItem DisplayName="%NZ Daten" MergeOrder="1">
                <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                  <Argument Name="PlugInName">CONFIGMON</Argument>
                  <Argument Name="Arguments">20;11</Argument>
                </CommandCall>
              </MenuItem>
            </MenuFolder>
            <MenuFolder DisplayName="%MS" MergeOrder="105" Right="UM15">
              <MenuItem DisplayName="%MS Signale" MergeOrder="1">
                <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                  <Argument Name="PlugInName">CONFIGMON</Argument>
                  <Argument Name="Arguments">20;12</Argument>
                </CommandCall>
              </MenuItem>
            </MenuFolder>
            <MenuFolder DisplayName="%Kollisionsueberwachung" MergeOrder="106">
              <MenuItem DisplayName="%Aktuelle Momentenwerte" MergeOrder="1">
                <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                  <Argument Name="PlugInName">CONFIGMON</Argument>
                  <Argument Name="Arguments">20;13</Argument>
                </CommandCall>
              </MenuItem>
              <MenuItem DisplayName="%Gelernte Bereiche" MergeOrder="2">
                <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                  <Argument Name="PlugInName">CONFIGMON</Argument>
                  <Argument Name="Arguments">20;14</Argument>
                </CommandCall>
              </MenuItem>
            </MenuFolder> 
            <MenuFolder DisplayName="%Buersten" MergeOrder="107">
              <MenuItem DisplayName="%BU Drehzahlvorgabe" MergeOrder="1">
                <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                  <Argument Name="PlugInName">CONFIGMON</Argument>
                  <Argument Name="Arguments">20;15</Argument>
                </CommandCall>
              </MenuItem>
            </MenuFolder>
            <MenuFolder DisplayName="%Virtuelle Achsen" MergeOrder="108">
              <MenuItem DisplayName="%ExAx Daten" MergeOrder="2">
                <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                  <Argument Name="PlugInName">CONFIGMON</Argument>
                  <Argument Name="Arguments">20;16</Argument>
                </CommandCall>
              </MenuItem>
            </MenuFolder>
            <MenuFolder DisplayName="%Vision Systeme" MergeOrder="109">
              <MenuItem DisplayName="%Cognex Status" MergeOrder="1">
                <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                  <Argument Name="PlugInName">CONFIGMON</Argument>
                  <Argument Name="Arguments">20;17</Argument>
                </CommandCall>
              </MenuItem>
              <MenuItem DisplayName="%Perceptron Status" MergeOrder="2">
                <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                  <Argument Name="PlugInName">CONFIGMON</Argument>
                  <Argument Name="Arguments">20;18</Argument>
                </CommandCall>
              </MenuItem>     
              <MenuItem DisplayName="%ISRA Status" MergeOrder="3">
                <CommandCall Target="LegacyLoader.OpenPlugIn" Right="UM15">
                  <Argument Name="PlugInName">CONFIGMON</Argument>
                  <Argument Name="Arguments">20;19</Argument>
                </CommandCall>
              </MenuItem>     
            </MenuFolder>              
          </MenuFolder>
        </MenuFolder>
      </MenuFolder>
    </MenuRoot>
  </KukaRoboter.SmartHMI.Menu>

   <KukaRoboter.SmartHMI.CorePlugIns.Jogging type="KukaRoboter.SmartHMI.CorePlugIns.Jogging.Configuration.JoggingConfiguration, KukaRoboter.SmartHMI.CorePlugIns">
      <JoggingConfiguration ToolBaseConsistency="Index">
         <DeviceConfigurations>
            <!-- RelatedViewConfiguration: Some indicator views are managed inside the device and can therefore not be configured! -->
            <DeviceConfiguration DeviceID="KcpMouse" EnabledDefault="true" CoordinateSystemDefault="World">
               <RelatedViewConfiguration ViewName="JoggingIndicatorMouseStatus" StartOption="ShowAlways" />
               <RelatedViewConfiguration ViewName="JoggingKcpMouseView" StartOption="ShowOnOptionsEdited" />
               <RelatedViewConfiguration ViewName="JoggingKcpPositionView" StartOption="ShowOnOptionsEdited" />
            </DeviceConfiguration>
            <DeviceConfiguration DeviceID="KcpParamKey" EnabledDefault="true" CoordinateSystemDefault="Axis">
               <RelatedViewConfiguration ViewName="JoggingIndicatorParamKeyStatus" StartOption="ShowAlways" />
               <RelatedViewConfiguration ViewName="StatusBar.JoggingDistances" StartOption="ShowAlways" />
               <RelatedViewConfiguration ViewName="JoggingKcpParamKeyView" StartOption="ShowOnOptionsEdited" />
               <JoggingDistanceSteps>
                  <Step MoveMode="Continuous" LinDistance="0" RotDistance="0" />
                  <Step MoveMode="Incremental" LinDistance="100" RotDistance="10" />
                  <Step MoveMode="Incremental" LinDistance="10" RotDistance="3" />
                  <Step MoveMode="Incremental" LinDistance="1" RotDistance="1" />
                  <Step MoveMode="Incremental" LinDistance="0.1" RotDistance="0.005" />
               </JoggingDistanceSteps>
            </DeviceConfiguration>
         </DeviceConfigurations>
         <ProgramOverrideSteps>
            <Step>0</Step>
            <Step>1</Step>
            <Step>3</Step>
            <Step>5</Step>
            <Step>10</Step>
            <Step>30</Step>
            <Step>50</Step>
            <Step>75</Step>
            <Step>100</Step>
         </ProgramOverrideSteps>
         <JogOverrideSteps>
            <Step>0</Step>
            <Step>1</Step>
            <Step>3</Step>
            <Step>5</Step>
            <Step>10</Step>
            <Step>30</Step>
            <Step>50</Step>
            <Step>75</Step>
            <Step>100</Step>
         </JogOverrideSteps>
         <!-- No custom kinematics -->
         <CustomKinematicsGroups />
         <CustomParamKeyCommands>
            <!-- Do not forget to reconfigure the display of the related view if you have changed the SideBarKeyID! -->
            <CustomParamKeyCommand SideBarKeyID="Param7" CommandID="ProgramOverride" ViewName="JoggingIndicatorProgramOverride" />
            <CustomParamKeyCommand SideBarKeyID="Param8" CommandID="JogOverride" ViewName="JoggingIndicatorJogOverride" />
         </CustomParamKeyCommands>
      </JoggingConfiguration>
   </KukaRoboter.SmartHMI.CorePlugIns.Jogging>
    <KukaRoboter.SmartHMI.MacroStepDiagnosis type="KukaRoboter.SmartHMI.MacroStepDiagnosis.Configuration.MacroStepDiagnosisConfiguration, Analyse">
      <MacroStepDiagnosisConfiguration FirstStepToMonitor="3"/>
    </KukaRoboter.SmartHMI.MacroStepDiagnosis>
   <KukaRoboter.SmartHMI.UserSettings type="KukaRoboter.SmartHMI.Main.UserSettings, SmartHMI">
      <UserSettings CurrentCulture="zh-CN" />
   </KukaRoboter.SmartHMI.UserSettings>
   <KukaRoboter.SmartHMI.Trace type="KukaRoboter.Trace.Config.util.DirectoryConfiguration, KukaRoboter.Trace.Config.ViewModel">
    <DirectoryConfiguration ImportDirectory="TraceConfig"/>
  </KukaRoboter.SmartHMI.Trace>
</configuration>