<?xml version="1.0" encoding="utf-8"?>
<VW_UserAvailability xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <makro>true</makro>
  <makroStep>true</makroStep>
  <makroTrigger>true</makroTrigger>
  <makroSPS>false</makroSPS>
  <makroSAW>false</makroSAW>
  <makroNeustart>true</makroNeustart>
  <makroSubmit>false</makroSubmit>
</VW_UserAvailability>